:root{
    --carousel-image: url('none');
}
.showcase{
    background-color: lightblue;
    z-index: -3;
    height: 50vh;
    max-height: 50vh;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.showcase img{
    padding: 0;
    margin: 0;
    width: 100%;
     height: 100%;
    position: relative;
    z-index: -2;
    animation: sliding 20s linear 0s infinite;
}

@keyframes sliding{
    0%{
        transform: scaleX(1);
        right: 0%
    }
    31%{
        transform: scaleX(1);
        right: 0%
    }
    33%{
        transform: scaleX(1);
        right: 100%;
    }
    64%{
        transform: scaleX(1);
        right: 100%;
    }
    66%{
        transform: scaleX(1.057);
        right: 200%;
    }
    97%{
        transform: scaleX(1.057);
        right: 200%;
    }
    99%{
        transform: scaleX(1);
        right: 0%;
    }
    100%{
        transform: scaleX(1);
        right: 0%;
    }
}

.showcase-direction{
    font-size: 4rem;
    cursor: pointer;
    opacity: 0.2;
    position: absolute;
}

.showcase:hover .showcase-direction{
    opacity: 1;
    transition: opacity 300ms;
}

/* ---- */

.best-sell{
    padding: 3vw;
}
/* Agregado para el carrito */
.best-selling{
    padding: 3vw;
}
/* Fin del carrito */
/*Botones de los items*/
div.item-box div.button-texture, div.button{
    visibility: hidden;
}

div.item-box:hover div.button-texture{
    visibility: visible;
}

div.item-box:hover div.button{
    visibility: visible;
}

.item-box{
    width: 32%;
    height: 36vh; 
    padding: 0.5px;
    text-align: center;
    background-color:rgb(222, 223, 222);
}
div.contenido {
    width: 100%;
    height: 100%;
}
div.item-box div.contenido div.item-image{
    background-color: white;
    width: 100%;
    height: 60%;
    z-index: -1;
}

.item-price{
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
}

footer{
    width: 100%;
    height: 10vh;
    padding: 3%;
}